
.calendar-wrapper {
  font-family: sans-serif;
  width: fit-content;
}

.calendar-wrapper * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.calendar__controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 12px;
}

.calendar__current-date {
  text-transform: capitalize;
  font-size: 1.5rem;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 0px;
  padding: 4px;
  outline: 1px solid #E8EDF3;
  border-radius: 10px;

  background-color: white;
}

.nav > button {
  padding: 8px 12px;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
}

.nav > button:hover {
  background-color: #f2f5f9;
  cursor: pointer;
}


.calendar__header {
  display: grid;
  grid-template-columns: repeat(7, 160px); /* width of a cell */
  border-radius: 0 10px 10px 0;
}

.calendar__header-title {
  text-align: center;
  font-weight: 500;
  background-color: white;
  padding: 20px 10px;
  text-transform: lowercase;
  outline: 1px solid #E8EDF3;
}

.calendar__body {
  display: grid;
  grid-template-rows: repeat(6, 145px); /* height of a cell */
}

.calendar__week {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 160px); /* width of a cell */
  grid-template-rows: 32px 1fr;
}

.calendar__cell {
  position: relative;
  background-color: white;
  outline: 1px solid #E8EDF3;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 4px;
}

.calendar__cell:hover {
  cursor: pointer;
}

.calendar__cell.grayed {
  background-color: #F5F9FD;
  color: #94A3B8;
}

.calendar__cell-number {
  padding: 5px;
  user-select: none;
  font-variant-numeric: tabular-nums;
  font-size: 0.8rem;
}

.calendar__cell-number.today {
  background-color: #0F172A;
  border-radius: 99999px;
  color: white;
}


.calendar__block-container {
  display: grid;

  grid-row: 2;
  grid-column: 1 / 8;

  border: 1px solid red;

  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 24px);
  overflow-y: hidden;
  gap: 4px 0;

  grid-auto-flow: column dense;
}


.block {
  z-index: 2;
  background-color: #0f172a;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8px;
  
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.block > p {
  width: 100%;
  font-size: 14px;
  
  color: white;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block.first {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-left: 3px;
}

.block.last {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  margin-right: 3px;
}

.block__teacher-name {
  font-size: 0.7rem !important;
}


.popup {
  cursor: auto;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #E8EDF3;

  width: 400px;
  height: 600px;

  position: absolute;
  z-index: 20 !important;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;

  box-sizing: border-box;
  border-radius: 8px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.popup__header {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 5px;
}

.popup__header > .cross {
  border-radius: 9999px;
  cursor: pointer;
  padding: 5px;
}

.popup__header > .cross:hover {
  background-color: rgb(240 240 240);
}



.popup__container {
  overflow-y: scroll;
  height: 100%;
  padding: 10px 10px 10px 20px;
  margin: 0 10px 0 0;
  box-sizing: border-box;
}

.day-calendar {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
}

.day-calendar__time {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(24, 40px);
  text-align: right;
  font-weight: 500;
  font-variant-numeric: tabular-nums;
}

.day-calendar__time > p {
  margin-top: -3px;
}

.day-calendar__blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(24, 1fr);
  justify-content: center;
  overflow: hidden;

  grid-row: 1;
  grid-column: 2;
  gap: 1px 0;

  grid-auto-flow: column dense
  ;
  pointer-events: none;
}

.day-calendar__blocks > .block {
  padding-top: 4px;
  
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2px;
}

.day-calendar__blocks-background-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(24, 1fr);
  grid-row: 1;
  grid-column: 2;
}

.day-calendar__blocks-background {
  background-color: #fbfbfb;
  border-top: 2px solid #f1f1f1;
}

.day-calendar__blocks-background:hover {
  background-color: red !important;
  cursor: pointer;
}

.day-calendar__blocks-background:last-child {
  border-bottom: 2px solid #f1f1f1;
}
